<!DOCTYPE html>
<html>
    <head><title><%= title %></title>
        <link rel="shortcut icon" href="/images/ship_icon-favicon.ico">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="/javascripts/vendor/modernizr.js"></script>
        <script src="/javascripts/loader.js"></script>
    </head>
    <body>
        <div id="main">
            <section id="mainMenu" class="screen">
                <h1 class="title"><%= title %></h1>
                <h3 class="screen-title">Main Menu</h3>
                <button id="btnNewGame" class="menu-item">New Game</button>
                <button id="btnHighscores" class="menu-item">Highscores</button>
                <button id="btnOptions" class="menu-item">Options</button>
                <button id="btnCredits" class="menu-item">Credits</button>
            </section>

            <section id="highscoresMenu" class="screen">
                <h1 class="title"><%= title %></h1>
                <h3 class="screen-title">Highscores</h3>
                <table id="scoresTable">
                    <thead>
                        <tr>
                            <th>Name</th><th>Highscore</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <button class="backButton">&#8626;</button>
            </section>

            <section id="optionsMenu" class="screen">
                <h1 class="title"><%= title %></h1>
                <h3 class="screen-title">Options</h3>
                <button id="btnKeyboard" class="menu-item">Keyboard</button>
                <button id="btnSounds" class="menu-item">Sounds</button>
                <button class="backButton">&#8626;</button>
            </section>

            <section id="keyboardMenu" class="screen">
                <h1 class="title"><%= title %></h1>
                <h3 class="screen-title">Keyboard Settings</h3>
                <div class="config-container">
                    <span class="config-item">
                        <label for="txtUp">Up</label>
                        <input type="text" class="key-input" id="txtUp" data-key="">
                    </span>
                    <span class="config-item">
                        <label for="txtLeft">Left</label>
                        <input type="text" class="key-input" id="txtLeft" data-key="">
                    </span>
                    <span class="config-item">
                        <label for="txtRight">Right</label>
                        <input type="text" class="key-input" id="txtRight" data-key="">
                    </span>
                    <span class="config-item">
                        <label for="txtShoot">Shoot</label>
                        <input type="text" class="key-input" id="txtShoot" data-key="">
                    </span>
                    <span class="config-item">
                        <label for="txtHyperspace">Hyperspace</label>
                        <input type="text" class="key-input" id="txtHyperspace" data-key="">
                    </span>
                </div>
                <button class="backButton">&#8626;</button>
                <button id="btnApplyKeys" class="applyButton">Apply</button>
            </section>

            <section id="audioMenu" class="screen">
                <h1 class="title"><%= title %></h1>
                <h3 class="screen-title">Audio Options</h3>
                <div class="config-container">
                    <span class="config-item">
                        <label for="sliderMusic">Music</label>
                        <input id="sliderMusic" type="range" name="points" min="0" max="100">
                    </span>
                    <span class="config-item">
                        <label for="sliderFx">Effects</label>
                        <input id="sliderFx" type="range" name="points" min="0" max="100">
                    </span>
                </div>
                <button class="backButton">&#8626;</button>
                <button id="btnApplyAudio" class="applyButton">Apply</button>
            </section>

            <section id="credits" class="screen">
                <h1 class="title"><%= title %></h1>
                <h3 class="screen-title">Credits</h3>
                <div id="credit-content">
                    <span>Developed by:</span>
                    <span>Juan Caraballo</span>
                    <span>Mario Matos</span>
                </div>
                <button class="backButton">&#8626;</button>
            </section>

            <section id="submitScore" class="screen">
                <h1 class="title game-over">Game Over</h1>
                <h3 class="screen-title">Submit your score</h3>
                <div id="score-container">
                    <span id="game-score"></span>
                    <input id="txtName" type="text" placeholder="Name">
                </div>

                <button id="btnSubmitScore" class="applyButton">Submit</button>
            </section>

            <section id="game" class="screen">
                <canvas id="game-canvas" height="670" width="870" tabindex='10'></canvas>
            </section>
        </div>
    </body>
</html>